# Terraform
**/.terraform/*
terraform/modules/**/.terraform.lock.hcl
terraform/backend.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.kube.config

# Secrets
vault-init.json
*.pem
*.key
.env
.env.*

# OS
.DS_Store

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*~
