bucket   = "terraform-states"
key      = "oci-free-k8s/terraform.tfstate"
region   = "<region>"                    # e.g. us-ashburn-1
endpoint = "https://<namespace>.compat.objectstorage.<region>.oraclecloud.com"

skip_region_validation      = true
skip_credentials_validation = true
skip_metadata_api_check     = true
force_path_style            = true
